<Accordion>
    <Accordion.Item>
        <Accordion.Header>
            <h2>Accordion Header</h2>
        </Accordion.Header>
        <Accordion.Body>
            <p>Accordion Body</p>
        </Accordion.Body>
    </Accordion.Item>
</Accordion>

<p>Some other content</p>