<!doctype html>
<html>
    <head>
        <title>Demo</title>
    </head>
    <body>

        <div :class="interesting">Oh right</div>

        <CustomComponent @if="something == 'yes'" />

        <AnotherOne prop="hello" />

        <OneWithChildren>
            Ok then
        </OneWithChildren>

    </body>
</html>