<div x-cloak x-data="{ isOpen: false }">
	<button x-on:click="isOpen = !isOpen">Toggle</button>
</div>

{# Slots and children, no attributes #}
<SampleComponent>
	<Slot name="header">
		<h1>Header</h1>
	</Slot>
	<p>Sample Component</p>
	<Slot name="footer">
		<p>Footer</p>
	</Slot>
</SampleComponent>

{# Slots, children and attributes #}
<SampleComponent example="ok">
	<Slot name="header">
		<h1>Header</h1>
	</Slot>
	<p>Sample Component</p>
	<Slot name="footer">
		<p>Footer</p>
	</Slot>
</SampleComponent>

{# Children only #}
<SampleComponent>
	<p>Sample Component</p>
</SampleComponent>

{# Attributes and children, no slots #}
<SampleComponent example="ok">
	<p>Sample Component</p>
</SampleComponent>