<div x-cloak x-data="{ isOpen: false }">
	<button x-on:click="isOpen = !isOpen">Toggle</button>
</div>

{# Slots and children, no attributes #}
<SampleComponent>
	<Slot name="header">
		<h1>Header</h1>
	</Slot>
</SampleComponent>