<select name="country">
    <option value="US" @selected="country">United States</option>
    <option value="CA" @selected="country">Canada</option>
    <option value="MX" @selected="country">Mexico</option>
    <option value="GB" @selected="country">United Kingdom</option>
</select>